{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="hero">
    <div class="hero-content">
       
        <h1>Ресторан <span class="logo-blue">Quince</span> | Новосибирск</h1>
        <p>Ресторан авторской кухни Quince в Новосибирске.</p>
        <p>Свежие продукты, уютная атмосфера.<br>
        Уютный ресторан в Новосибирске.<br>
         Попробуйте наши фирменные блюда с доставкой.</p>
        <div class="hero-buttons">
            <a href="{% url 'menu' %}" class="btn-book">Заказать</a>
            
        </div>
    </div>
</div>


{% endblock %}